*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6c8ff;
    text-align: center;
    padding: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
h1{
    color:#2b106a;
    font-size: 60px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vh;
    gap: 4vh;
}
.box{
    height: 20vh;
    width: 20vh;
    background-color:#fefedf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border:none;
    border-radius: 10px;;
    color: #2b106a;
}

#new-btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #2b106a;
    color: white;
    cursor: pointer;
}
#reset-btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #2b106a;
    color: white;
    cursor: pointer;
}
.hide{
    display: none;
}
h2{
    font-size: 40px;
}
button{
    width: 200px;
    text-align: center;
}